<div class="container">
  <h2>Lista de Pedidos</h2>
  <table class="pedido-table">
    <thead>
      <tr>
        <th>Cliente</th>
        <th>Tamaño</th>
        <th>Ingredientes</th>
        <th>Cantidad</th>
        <th>Subtotal</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidos">
        <td>{{ pedido.cliente }}</td>
        <td>{{ pedido.tamano }}</td>
        <td>{{ pedido.ingredientes }}</td>
        <td>{{ pedido.cantidad }}</td>
        <td>{{ pedido.subtotal }}</td>
      </tr>
    </tbody>
  </table>

  <button (click)="generarPDF()">Descargar PDF</button>
</div>
