<div class="container">
  <h2>Lista de Pedidos</h2>
  
  <div class="row justify-content-center">
    <div class="col-lg-4" *ngFor="let pedido of uniquePedidos">
      <mat-card class="cardWithShadow position-relative overflow-hidden align-items-center justify-content-center" 
                style="cursor: pointer;" 
                (click)="verDetalles(pedido.numero_pedido)">
        <mat-card-content class="p-y-24">
          <mat-card-title class="m-t-2 ">
            Pedido: {{ pedido.numero_pedido }}
          </mat-card-title>
          <div class="d-flex align-items-center justify-content-center m-t-24">
            <div class="d-flex align-items-center">
              <div>
                <p class="justify-content-center m-t-24">Fecha: {{ pedido.fechas[0] | date: 'dd - MM - yyyy' }}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
